In [74]:
#Convert a list of lists into a ndarraytaxi[0]

import numpy as np

f = open("/home/evgen/data/taxi_data.csv", "r")

taxi_list = list(csv.reader(f))

taxi = np.array(taxi_list)

In [73]:
taxi.shape

(490348, 19)

In [77]:
#Selecting multiple rows from a ndarray
taxi[:4]

array([['', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
        'passenger_count', 'trip_distance', 'pickup_longitude',
        'pickup_latitude', 'rate_code', 'store_and_fwd_flag',
        'dropoff_longitude', 'dropoff_latitude', 'payment_type',
        'fare_amount', 'surcharge', 'mta_tax', 'tip_amount',
        'tolls_amount', 'total_amount'],
       ['0', 'VTS', '2013-05-14 18:31:00', '2013-05-14 19:18:00', '1',
        '17.47', '-74.004052', '40.742767', '2', '', '-73.78258',
        '40.644107', 'CSH', '52.0', '0.0', '0.5', '0.0', '0.0', '52.5'],
       ['1', 'VTS', '2013-05-14 19:24:00', '2013-05-14 19:34:00', '2',
        '1.6', '0.0', '73.971158', '1', '', '-73.979937', '40.78036',
        'CSH', '8.5', '1.0', '0.5', '0.0', '0.0', '10.0'],
       ['2', 'VTS', '2013-05-14 19:57:00', '2013-05-14 20:01:00', '2',
        '1.1', '0.0', '0.0', '1', '', '0.0', '0.0', 'CRD', '5.5', '1.0',
        '0.5', '1.25', '0.0', '8.25']], dtype='<U19')

In [92]:
taxi[2:]

array([['1', 'VTS', '2013-05-14 19:24:00', ..., '0.0', '0.0', '10.0'],
       ['2', 'VTS', '2013-05-14 19:57:00', ..., '1.25', '0.0', '8.25'],
       ['3', 'VTS', '2013-05-14 05:46:00', ..., '0.0', '0.0', '16.5'],
       ...,
       ['490344', 'CMT', '2013-05-14 20:35:36', ..., '0.0', '0.0', '6.5'],
       ['490345', 'CMT', '2013-05-14 20:35:30', ..., '0.0', '0.0', '6.0'],
       ['490346', 'CMT', '2013-05-14 20:39:34', ..., '0.0', '0.0',
        '15.5']], dtype='<U19')

In [93]:
#Selecting a specific item from a ndarray:
taxi[4,1]

'VTS'

In [85]:
#Selecting a single column
col1 = taxi[:,6]
col2 = taxi[:,8]
col3 = taxi[:,11]

#sums = col1+col2+col3
#sums
col1

array(['pickup_longitude', '-74.004052', '0.0', ..., '-74.007057',
       '-73.987804', '-73.998985'], dtype='<U19')

In [86]:
col2

array(['rate_code', '2', '1', ..., '1', '1', '1'], dtype='<U19')

In [94]:
col3

array(['dropoff_latitude', '40.644107', '40.78036', ..., '40.71979',
       '40.74353', '40.776088'], dtype='<U19')

In [96]:
#Selecting multiple columns:
taxi[:,1:3]

array([['vendor_id', 'pickup_datetime'],
       ['VTS', '2013-05-14 18:31:00'],
       ['VTS', '2013-05-14 19:24:00'],
       ...,
       ['CMT', '2013-05-14 20:35:36'],
       ['CMT', '2013-05-14 20:35:30'],
       ['CMT', '2013-05-14 20:39:34']], dtype='<U19')

In [98]:
#Selecting a 2D slice:
taxi[1:4,:3]

array([['0', 'VTS', '2013-05-14 18:31:00'],
       ['1', 'VTS', '2013-05-14 19:24:00'],
       ['2', 'VTS', '2013-05-14 19:57:00']], dtype='<U19')

In [88]:
taxi.T

array([['', '0', '1', ..., '490344', '490345', '490346'],
       ['vendor_id', 'VTS', 'VTS', ..., 'CMT', 'CMT', 'CMT'],
       ['pickup_datetime', '2013-05-14 18:31:00', '2013-05-14 19:24:00',
        ..., '2013-05-14 20:35:36', '2013-05-14 20:35:30',
        '2013-05-14 20:39:34'],
       ...,
       ['tip_amount', '0.0', '0.0', ..., '0.0', '0.0', '0.0'],
       ['tolls_amount', '0.0', '0.0', ..., '0.0', '0.0', '0.0'],
       ['total_amount', '52.5', '10.0', ..., '6.5', '6.0', '15.5']],
      dtype='<U19')

In [99]:
trip_distance = taxi[:,5]
trip_price = taxi[:,18]

In [91]:
trip_distance

array(['trip_distance', '17.47', '1.6', ..., '1.0', '0.8', '4.6'],
      dtype='<U19')

In [100]:
trip_price

array(['total_amount', '52.5', '10.0', ..., '6.5', '6.0', '15.5'],
      dtype='<U19')